/*custom css*/
.mobile-logo{
  display: none;
}
.anchor-link .admin-name {
  color: #84869f;
}
.height-equal-row{
  display: table;
}
.height-equal{
  display: table-cell;
}
body.dark #sidebar ul.menu-categories li.menu > .dropdown-toggle {
  letter-spacing: 0px;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle {
  letter-spacing: 0px;
}
body.dark .avatar-online:before {
  background-color: transparent;
}
.avatar-online:before {
  background-color: transparent;
}
.avatar-indicators:before {
    display:none;
}
.sidebar-logo {
  width: 100px;
}
.justify-content-between-custom {
  display: flex;
  justify-content: space-between;
}
.custom-widget {
  padding: 25px 23px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dark .custom-widget {
  padding: 25px 23px;
  background: #0e1726;
  position: relative;
  border-radius: 6px;
  border: 1px solid #0e1726;
  box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.w-icon{
  color: #ffffff;
  background: #009688;
  display: inline-block;
  align-self: center;
  padding: 10px;
  border-radius: 12px;
  margin-right: 16px;
}
.dark .w-icon{
  color: #eceffe;
  background: #ffffff;
  display: inline-block;
  align-self: center;
  padding: 10px;
  border-radius: 12px;
  margin-right: 16px;
}
.widget-title {
  margin-bottom: 0;
  font-size: 23px;
  color: #0e1726;
  font-weight: 600;

}
.widget-counter-text {
  margin: 10px 0px;
  font-weight: 600;
  color: #e95f2b;
  font-size: 30px;
}
.widget-link a {
  font-weight: 600;
  border-bottom: 1px dashed;
  color: #304aca;
}
.widget-icon-left svg {
  width: 40px;
}
.widget-four .widget-content .browser-list:nth-child(1) .w-icon svg {
  color: #616161;
}
.widget-four .widget-content .browser-list:nth-child(2) .w-icon svg {
  color: #57c82c;
}
.widget-four .widget-content .browser-list:nth-child(2) .w-icon {
  background: #ecfbf4;
}
.widget-four .widget-content .browser-list:nth-child(1) .w-icon {
  background: #f5f5f5;
}
body.dark .widget-four .widget-content .browser-list:nth-child(1) .w-icon {
  background: #ffffff;
}
body.dark .widget-four .widget-content .browser-list:nth-child(1) .w-icon svg {
  color: #707070;
}
body.dark .widget-four .widget-content .browser-list:nth-child(2) .w-icon {
  background: #009688;
}
.widget-four .widget-content .w-browser-stats .progress .progress-bar.bg-gradient-primary {
  background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
}
.widget-four .widget-content .w-browser-stats .progress .progress-bar.bg-gradient-danger {
  background-image: linear-gradient(315deg, #b4d093 0%, #1dc777 74%);
}
body.dark .widget-four .widget-content .w-browser-stats .progress .progress-bar.bg-gradient-primary {
  background-image: linear-gradient(to right, #ffffff 0%, #b1b1b2 100%);
}
body.dark .widget-four .widget-content .w-browser-stats .progress .progress-bar.bg-gradient-danger {
  background-image: linear-gradient(to right, #b4d093 0%, #1dc777 100%);
}
.widget-three .widget-content .summary-list:nth-child(1) .w-icon svg {
  color: #5d75ca;
}
.widget-three .widget-content .summary-list:nth-child(1) .w-icon {
  background: #eaeffa;
}
.widget-three .widget-content .summary-list:nth-child(2) .w-icon svg {
  color: #727272;
}
.widget-three .widget-content .summary-list:nth-child(2) .w-icon {
  background: #eaeaea;
}
.widget-three .widget-content .summary-list:nth-child(3) .w-icon {
  background: #fce9e9;
}
.widget-three .widget-content .summary-list:nth-child(3) .w-icon svg {
  color: #f2a490;
  fill: #f2a490;
}
.effect-none .waves-effect {
  overflow: inherit;
}
.height100{
  height: 100%;
}
.table-controls-custom {
  display: flex;
  list-style: none;
  padding: 0px;
}
.plus-add {
  color: #fff !important;
  background-color: #4361ee !important;
  border-color: #4361ee;
  box-shadow: 0 10px 20px -10px rgba(27, 85, 226, 0.59);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.msg-show-td p{
  text-wrap: balance;
}
.table-controls-custom svg {
  width: 17px;
  margin-right: 15px;
  stroke: #4361ee;
}
body.dark .summary .widget-content .summary-list:nth-child(1) .w-icon svg {
  color: #ffffff;
}

.widget-icon-left .w-icon {
  background: #009688;
  color: #FFF;
}
.layout-boxed .footer-wrapper {
  max-width: inherit !important;
}

/* rajinder css start here  */
.widget-icon-left {
  text-align: center;
}

.widget-content-right {
  text-align: center;
  margin-top: 15px;
}

.layout-spacing.table-display {
  display: table;
}

.table-cell-display {
  display: table-cell !important;
  height: auto !important;
}

.usr-img-frame img {
  height: 34px;
  width: 123px;
  margin: 0;
  object-fit: cover;
}

/* rajinder css end here  */


/*responsive css*/
@media (max-width:1600px){
  .widget-title {
    font-size: 14px !important;
}
}

@media (max-width:1400px){
  /* .widget-title {
    font-size: 14px !important;
} */

.dark .w-icon {
  color: #eceffe;
  background: #009688;
  display: inline-block;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  margin-right: 16px;
}
.widget-icon-left svg {
  width: 25px;
}

}
@media (max-width:1200px){
  /* .widget-content-right {
    width: 60%;
} */
/* .widget-icon-left {
  width: 30%;
} */
.widget-title {
  margin-bottom: 0;
  font-size: 14px;
  color: #0e1726;
  font-weight: 600;
}
}

@media (max-width:991px){
  .widget-content-right {
    width: 60%;
}
.widget-icon-left {
  width: 30%;
}
}

@media (max-width:767px){
  .widget-content-right {
    width: 60%;
}
.widget-icon-left {
  width: 30%;
}
  .mobile-logo{
    display: block;
  }
}



